<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- NOTE: These are commented out because we don't want the nuget package to include them as dependencies
  <package id="AjaxMin" version="4.81.4769.14860" targetFramework="net40" />
  <package id="dotless" version="1.3.2.0" targetFramework="net40" />
  -->
</packages>