.Example1WithoutSettings\/cat2\.gif
{
width:96px;
height:99px;
background-image:url(sprite0-96JqGsOs7QjbftXbeJH12w2.png);
background-position:0px 0px;
}
.Example1WithoutSettings\/cat2\.png
{
width:110px;
height:110px;
background-image:url(sprite0-96JqGsOs7QjbftXbeJH12w2.png);
background-position:-97px 0px;
}
