.blank\.gif
{
width:1px;
height:1px;
background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAGUExURf///wAAAFXC034AAAACdFJOU/8A5bcwSgAAAAlwSFlzAAAOwwAADsMBx2+oZAAAAApJREFUGFdjYAQAAAMAAqCARA8AAAAASUVORK5CYII=) no-repeat 0% 0%;
}
